* {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 100;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fafafa !important;
    font-family: 'Roboto', sans-serif !important;
}

label {
    font-size: 1.75em;
}

form {
    text-align: left;
    width: 400px;
    margin: 2em auto;
}

h1 {
    font-size: 3em !important;
    font-weight: 200;
    margin-bottom: 1em !important;
}

#header {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 100;
}

.field input {
    background-color: #fafafa !important;
    border: none !important;
    border-bottom: 2px solid black !important;
    color: black !important;
    border-radius: 0 !important;
}

.ui.input input {
    background-color: #fafafa !important;
    border: none !important;
    border-bottom: 2px solid black !important;
    color: black !important;
    border-radius: 0 !important;
} 

::placeholder {
    color: rgb(105, 105, 105) !important;
} 

.app {

position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); 
    width: 90%;
    margin: 0 auto;
    padding: 2em 0;
    background-color: #fafafa;

}

#username {
    width: 120px; 
    margin: 1em auto;
    padding: 0;
    padding-left: 0.6em;
    font-size: 1.5em;
    color: lightgray;
}

.next {
    margin: 1em auto !important;
    width: 400px;
}

.qr-container {
    margin-top: 2em;
    margin-bottom: 1.5em;
}

.done-page {
    text-align: center;
    background: #fafafa;
}

.done-page button {
    margin-top: 2em !important;
    width: 300px;
}

#your-link {
    font-size: 2em;
    color: #333333;
}

@media screen and (max-width: 600px) {
    #header {
        font-size: 3em !important;
    }

    .field input {
        background-color: #fafafa !important;
        border: none !important;
        border-bottom: 2px solid black !important;
        color: black !important;
        border-radius: 0 !important;
        width: 100% !important;
    }

    .ui.input input {
        background-color: #fafafa !important;
        border: none !important;
        border-bottom: 2px solid black !important;
        color: black !important;
        border-radius: 0 !important;
    } 

    form {
        text-align: left;
        width: 100%;
        margin: 2em auto;
    }

    .next {
        width: 100%;
    }
}